.error {

    color: red;
    /*font-size: 14px;
    font-weight: bold;*/
}

#tblPainel td, th {
	font-size: 0.80rem;
}

/* #tblTriagem td, th {
	font-size: 0.90rem;
} */

#listaAnexosOTRS {

    font-size: 0.75rem;
}

