.error {

    color: red;
    /*font-size: 14px;
    font-weight: bold;*/
}

#tblPainel td, th {
	font-size: 0.80rem;
}

#tblTriagem td, th {
	font-size: 0.90rem;
}

#tblEncerrados td, th {
	font-size: 0.90rem;
}



#listaAnexosOTRS {

    font-size: 0.75rem;
}

#tblPainel tbody tr:hover {
    cursor: pointer;
    background-color: bisque;
}

#tblTriagem tbody tr:hover {
    cursor: pointer;
    background-color: bisque;
}

#tblEncerrados tbody tr:hover {
    cursor: pointer;
    background-color: bisque;
}
#tblEncerrados td, th {
	font-size: 0.90rem;
} 

div.diff {

    background-color: #FFF9D3;
    
}

#tblEquipsBr, #tblTriagemBr, #tblChamadosBr tbody tr {
    cursor: pointer;
    font-size: 0.80rem;
}

.bg-warning td {
    background-color:#ffff99 !important;
}

