!anexos/index.html
!termos/index.html
!img/index.html
anexos/*
termos/*
application/config/config.php
application/config/database.php
sessions/*
application/libraries/Mailer.php
application/libraries/Consulta_ldap.php
*~*
