!anexos/index.html
!termos/index.html
!img/index.html
anexos/*
termos/*
img/*
icon/Thumbs.db
application/config/config.php
application/config/database.php
sessions/*
application/libraries/mailer.php
application/libraries/consulta_ldap.php
index.php
