!anexos/index.html
!termos/index.html
!img/index.html
anexos/*
termos/*
application/config/config.php
application/config/*.production.*
application/config/*.dev.*
application/config/database.php
sessions/*
img_temp/*
application/libraries/Mailer.php
application/libraries/Consulta_ldap.php
*~*
